{% extends "layout.html" %}


{% block body %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ section }}
                    {% if project_name %} 
                    <small>{{ project_name }} {{ breadcrumb }}</small>
                    {% endif %}
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <!-- /.col-lg-8 -->
                <div class="col-lg-8">
                    {% if build.completed or build.status == "ready"%}
                    <div class="panel panel-success">
                    {% elif build.status == "failed" %}
                    <div class="panel panel-danger">
                    {% elif build.status in ["started", "queued", "requested", "building"] %}
                    <div class="panel panel-warning">
                    {% endif %}
                        <div class="panel-heading">
                            <i class="fa fa-gears fa-fw"></i> {{ section }} {{ build.id }}
                        </div>
                        <div class="panel-body">
                            <div class="row">

                        <!-- /.panel-heading -->
                                    <div class="table-responsive">
                            {% if not build.log_url %}
                            <a href="{{ build.url }}" class="btn btn-default btn-block">Repo URL</a>
                            <a href="{{ build.chacra_url }}" class="btn btn-default btn-block">Chacra URL</a>
                            {% endif %}
                            <br/>
                            <table class="table table-bordered table-hover table-striped">
                                <tbody>
                                 <tr><td>ID</td><td>{{ build.id }}</td></tr>
                                {% for k, v in build.__json__().items() %}
                                {% if not "url" in k %}
                                <tr>
                                <td>{{ k.replace('_', ' ')|capitalize() }}</td>
                                <td>{{ v }}</td>
                                </tr>

                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- /.list-group -->
                            {% if build.log_url %}
                            <a href="{{ build.log_url }}" class="btn btn-default btn-block">Log Output</a>
                            <a href="{{ build.url }}" class="btn btn-default btn-block">Jenkins Build</a>
                            {% else %}
                            <a href="{{ build.url }}" class="btn btn-default btn-block">Repo URL</a>
                            <a href="{{ build.chacra_url }}" class="btn btn-default btn-block">Chacra URL</a>
                            {% endif %}
                        </div>
                        </div>
                        </div>

                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock %}
