{% extends "layout.html" %}


{% block body %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ section }}
                    {% if project_name %} 
                    <small>{{ project_name }} {{ breadcrumb }}</small>
                    {% endif %}
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <!-- /.col-lg-8 -->
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Latest Builds Available
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>project</th>
                                            <th>ref</th>
                                            <th>distro</th>
                                            <th>release</th>
                                            <th>modified</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                {% for b in builds %}
                                {% if b.completed %}
                                <tr class="success"href="{{ b.get_url() }}" >
                                {% elif b.status == "failed" %}
                                <tr class="danger">
                                {% elif b.status == "started" %}
                                <tr class="warning">
                                {% endif %}
                                    <td>
                                      <a href="{{ b.get_url() }}">{{ b.project.name }}</a>
                                    </td>
                                    <td>
                                      <a href="{{ b.get_url() }}">{{ b.ref }}</a>
                                    </td>
                                    <td>
                                      <a href="{{ b.get_url() }}">{{ b.distro }}</a>
                                    </td>
                                    <td>
                                      <a href="{{ b.get_url() }}">{{ b.distro_version }}</a>
                                    </td>
                                    <td>
                                      <a href="{{ b.get_url() }}">
                                      <span class="text-muted small"><em>{{ h.last_seen(b.modified) }}</em></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
                {% if distinct %}
                {% for name, value in distinct.items() %}
                <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> {{ name }} Available
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            {% for v in value %}
                            <a href="{{ v }}" class="list-group-item">
                                <i class="fa fa-arrow-circle-right fa-fw"></i> {{ v }}
                            </a>
                            {% endfor %}
                        </div>
                        <!-- /.list-group -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock %}
