# {{ ansible_managed }}

sqlalchemy_w = {
    'url': 'postgresql+psycopg2://{{ app_name }}:{{ postgresql_app_user_password }}@{{ primary_ip }}/{{ app_name }}',
    'echo':          False,
    'echo_pool':     False,
    'pool_recycle':  3600,
    'encoding':      'utf-8'
}

sqlalchemy_ro = {
    'url': 'postgresql+psycopg2://{{ app_name }}:{{ postgresql_app_user_password }}@{{ secondary_ip }}/{{ app_name }}',
    'echo':          False,
    'echo_pool':     False,
    'pool_recycle':  3600,
    'encoding':      'utf-8'
}
